# Ignore the Library and Temp folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/
UserSettings/

# Ignore Unity-generated metadata
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb

# Ignore crash logs
CrashReports/

# Ignore local project settings
ProjectSettings/EditorBuildSettings.asset
